<header>
	<h2>Hey, {{user}}, welcome to ACChat!</h2>
</header>

<a class="off" href="" ng-click="logout(user)">LOGOUT</a>

<section>

	<h3>Online Users:</h3>
	<div class="online">
		<ul data-ng-repeat="user in users">
			<li>{{user.name}}</li><span><a href="" ng-if="thisUser == user.name" ng-click="removeOnlineUser(user)">LOGOUT</a></span>
		</ul>
</section>

<aside>
	<div class="asideWrapper">
		<div data-ng-repeat="chat in chats | orderBy : sortChat : false" class="chatRoom">
			<ul>
				<li class="username"><b>{{chat.name}}</b> at {{chat.date | date:'h:mma'}}</li>
				<li class="chatContent">{{chat.content}}</li>
			</ul>
		</div>
	</div>
</aside>

<footer>
	<form class="submitForm" data-ng-submit="addChat(submitChat)">
		<input id="chatBox" data-ng-model="submitChat.content" placeholder="Be social..." required></input>
	</form>
</footer>
