html {
  background-image: Url("http://subtlepatterns.com/patterns/congruent_pentagon.png"); }

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%; }

.jumbotron {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

.container {
  margin: 0px;
  width: 100%;
  background-image: Url("http://subtlepatterns.com/patterns/congruent_pentagon.png"); }

.off {
  position: absolute;
  top: 10px;
  right: 20px; }

header {
  text-align: center; }

section {
  width: 200px;
  height: 500px;
  display: inline-block;
  background-color: rgba(204, 204, 204, 0.6);
  padding-left: 5px; }
  section h3 {
    margin-top: 0px; }
  section .online {
    float: left; }

aside {
  display: inline-block;
  width: 700px;
  height: 500px;
  overflow-y: scroll;
  vertical-align: top;
  background-color: rgba(204, 204, 204, 0.6); }
  aside .chatRoom {
    width: 100%;
    word-wrap: break-word; }
    aside .chatRoom ul {
      padding: 0px; }
      aside .chatRoom ul li {
        list-style-type: none; }
      aside .chatRoom ul .chatContent {
        font-size: 0.9em; }

footer .submitForm {
  width: 905px;
  margin-right: 0px; }
  footer .submitForm input {
    width: 100%; }
