body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%; }

.container {
  margin: 0px; }

.off {
  position: absolute;
  top: 10px;
  right: 20px; }

header {
  text-align: center; }

section {
  width: 200px;
  height: 523px;
  border: 1px solid black;
  display: inline-block; }
  section .online {
    float: left; }

aside {
  display: inline-block;
  width: 700px;
  height: 500px;
  overflow-y: scroll;
  vertical-align: top; }
  aside .chatRoom {
    width: 100%;
    word-wrap: break-word; }
    aside .chatRoom ul {
      padding: 0px; }
      aside .chatRoom ul li {
        list-style-type: none; }
      aside .chatRoom ul .chatContent {
        font-size: 0.9em; }

footer .submitForm {
  float: left;
  width: 700px;
  margin-right: 0px; }
  footer .submitForm input {
    width: 700px; }
